#main-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

.grid-items {
    width: calc(100% / 64);
    height: calc(100% / 64);
    border: 1px solid black;
}

#grid-items {
    width: calc(100% / 64);
    height: calc(100% / 64);
    border: 1px solid black;
}

.highlight {
    background-color: black;
}